[submodule "bundle/gundo"]
	path = bundle/gundo
    url = http://github.com/sjl/gundo.vim.git
    ignore = dirty
[submodule "bundle/ack"]
	path = bundle/ack
    url = https://github.com/mileszs/ack.vim
    ignore = dirty
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
    ignore = dirty
[submodule "bundle/cocoa"]
	path = bundle/cocoa
	url = https://github.com/msanders/cocoa.vim.git
    ignore = dirty
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
    ignore = dirty
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
    ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
    ignore = dirty
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
    ignore = dirty
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
    ignore = dirty
[submodule "bundle/fswitch"]
	path = bundle/fswitch
    url = https://github.com/derekwyatt/vim-fswitch.git
    ignore = dirty
[submodule "bundle/bufferline"]
	path = bundle/bufferline
	url = https://github.com/bling/vim-bufferline.git
    ignore = dirty
[submodule "bundle/badwolf"]
	path = bundle/badwolf
	url = https://github.com/sjl/badwolf.git
    ignore = dirty
[submodule "bundle/airline"]
	path = bundle/airline
    url = https://github.com/bling/vim-airline.git
    ignore = dirty
[submodule "fonts/consolas"]
	path = fonts/consolas
	url = https://github.com/nicolalamacchia/powerline-consolas.git
    ignore = dirty
[submodule "bundle/vividchalk"]
	path = bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
    ignore = dirty
[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
    ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "bundle/doxygentoolkit"]
	path = bundle/doxygentoolkit
    url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
    ignore = dirty
[submodule "bundle/plantuml"]
	path = bundle/plantuml
    url = https://github.com/aklt/plantuml-syntax.git
[submodule "bundle/typescript"]
	path = bundle/typescript
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/graphql"]
	path = bundle/graphql
	url = https://github.com/jparise/vim-graphql.git
